@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

html {
  font-size: 16px;
}

@media (max-width: 640px) {
  html {
    font-size: 15px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}
